<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
	<script src="https://libs.zappar.com/zappar-aframe/0.3.9/zappar-aframe.js"></script>
    <title>Базовая страница</title>
</head>
<body>
	<a-scene cursor="rayOrigin: mouse" raycaster="objects: [data-clickable]">
		<!-- Permissions: -->
    <a-entity zappar-permissions-ui id="permissions"></a-entity>
    <a-entity zappar-compatibility-ui id="compatibility"></a-entity>

    {% block body %} {% endblock %}
	</a-scene>

    {% block scripts %} {% endblock %}
</body>
</html>