{% extends 'base.html' %}
{% block style %}
    <style type="text/css">
        #first_container {
            position: absolute;
            z-index: 9999;
            left: 100px;
            top: 100px;
        }

        #text_nav_container {
            position: absolute;
            z-index: 9999;
            left: 100px;
            top: 100px;
            font-size: 50px;
        }

        #second_container {
            position: absolute;
            z-index: 9999;
            left: 200px;
            top: 100px;
        }

        #third_container {
            position: absolute;
            z-index: 9999;
            left: 300px;
            top: 100px;
        }

        .downArrow {
            width: 50px;
        }

        .upArrow {
            width: 50px;
        }

        .leftArrow {
            height: 50px;
        }

        .rightArrow {
            height: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Camera: -->
    <a-camera zappar-camera="user-camera-mirror-mode: no-mirror"></a-camera>

    <a-assets id="assets_id">
        <a-asset-item id="illustration-model" src="/static/expasition/statue_2.gltf"></a-asset-item>
    </a-assets>

    <!-- Image tracking: -->
    <a-entity zappar-image="target: /static/markers/marker1.zpt" id="my-image-tracker">
        <a-plane class="to_hide" color="#CCC" height="2.25" width="4" position="0.19 2.25 0"></a-plane>
        <a-text id="exhibit_info"
                class="to_hide"
                negate="false"
                color="black"
                font="/static/font/RobotoCondensed-Regular-msdf.json"
                font-image="/static/font/RobotoCondensed-Regular.png"
                align="center"
                value="Just an example"
                scale="0.3 0.3 0.3" position="0.2 2.25 0">
        </a-text>
        <a-entity id="im" visible="false" material="src: /static/gallery/photos/photo (1).jpg"
                  geometry="primitive: plane; width: 4; height: 2.25;"
                  position="0 -2.25 0" rotation="0 0 0"></a-entity>
        <a-gltf-model visible="false" id="mod" src="/static/expasition/statue_2.gltf" rotation="0 0 0"
                      scale="20 20 20"
                      position="0 0 0"></a-gltf-model>
        <a-entity class="to_hide" geometry="primitive: plane; width: 0.3; height: 0.3;"
                  material="src: https://cdn.glitch.global/10b70c6a-bfb7-4913-b34c-03a8a1c5eeed/button-refresh.png?v=1641492134128; transparent: true;"
                  position="1.65 -0.5 0" data-clickable onclick="onNextExhibitButtonClick()"></a-entity>
    </a-entity>


    {# Overlay: #}

    <div style="display: none;">
        <img class="upArrow" src="/static/expasition/arrows/up_arrow.png">
        <img class="leftArrow" src="/static/expasition/arrows/left_arrow.png">
        <img class="rightArrow" src="/static/expasition/arrows/right_arrow.png">
        <img class="downArrow" src="/static/expasition/arrows/down_arrow.png">
    </div>

    <div id="first_container"></div>
    <div id="second_container"></div>
    <div id="third_container"></div>

    <div id="text_nav_container"></div>


{% endblock %}

{% block scripts %}
    <script>
        var imContainer = document.getElementById('im');
        var modContainer = document.getElementById('mod');

        var to_hide = document.getElementsByClassName("to_hide");
        var imageTracker = document.getElementById('my-image-tracker');

        var first_container = document.getElementById('first_container');
        var second_container = document.getElementById('second_container');
        var third_container = document.getElementById('third_container');

        var text_nav_container = document.getElementById('text_nav_container');

        var upArrow = document.getElementsByClassName("upArrow")[0];
        var downArrow = document.getElementsByClassName("downArrow")[0];
        var leftArrow = document.getElementsByClassName("leftArrow")[0];
        var rightArrow = document.getElementsByClassName("rightArrow")[0];

        var route_id = parseInt("{{ route_id }}");  // current route
        var whole_root = "{{ whole_route }}".split("/");  // whole route

        var current_point_ind = 0;  // index of current point in the whole route list

        console.log("{{ whole_route }}");

        getExposition(whole_root[current_point_ind]);

        function getExposition(point) {
            // Content:
            fetch("/get_exhibit/" + point.toString()).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                showOverlay(data);
            }).catch(function () {
                console.log("Error in exhibition info downloading");
            });
        }

        function getNavigation(pointA, pointB) {
            // Navigation:
            var navig = null;
            fetch("/navigation/" + pointA.toString() + "/" + pointB.toString()).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log(data);
                navig = data;
                showNavigation(navig);
            }).catch(function () {
                console.log("Error");
            });
        }

        var trans_dict = {};
        trans_dict["u"] = "↑";
        trans_dict["d"] = "↓";
        trans_dict["r"] = "→";
        trans_dict["l"] = "←";

        function showNavigation(nav) {
            hideOverlay();
            hideIllustr();
            for (let i = 0; i < nav.length; i++)
                text_nav_container.innerHTML = text_nav_container.innerHTML + trans_dict[nav[i]];
            if (nav.length === 3) {
                first_container.appendChild(getArrowElement(nav[0]));
                second_container.appendChild(getArrowElement(nav[1]));
                third_container.appendChild(getArrowElement(nav[2]));
            } else if (nav.length === 2) {
                first_container.appendChild(getArrowElement(nav[0]));
                second_container.appendChild(getArrowElement(nav[1]));
                third_container.innerHTML = "";
            } else {
                first_container.appendChild(getArrowElement(nav[0]));
                second_container.innerHTML = "";
                third_container.innerHTML = "";
            }
        }

        function getArrowElement(got) {
            if (got === "u") {
                return upArrow.cloneNode(true);
            } else if (got === "d") {
                return downArrow.cloneNode(true);
            } else if (got === "l") {
                return leftArrow.cloneNode(true);
            } else {
                return rightArrow.cloneNode(true);
            }
        }

        function onCloseNavigationButtonClick() {
            text_nav_container.innerHTML = "";
            first_container.innerHTML = "";
            second_container.innerHTML = "";
            third_container.innerHTML = "";
        }

        var overlay_text = document.getElementById('exhibit_info');
        var current_illustr = 'null';

        function showOverlay(cont) {
            if (cont[2] === '2D') {
                showImage(cont[1]);
                current_illustr = 'imContainer';
            } else if (cont[2] === '3D') {
                show3D(cont[1]);
                current_illustr = 'modContainer';
            } else {
                current_illustr = 'null';
                hideIllustr();
            }
            overlay_text.setAttribute('value', cont[0]);
            for (let i = 0; i < to_hide.length; i++) {
                to_hide[i].setAttribute('visible', true);
            }
        }

        function showImage(im) {
            console.log('image');
            imContainer.setAttribute('material', 'src', im);
            imContainer.setAttribute('visible', true);
        }

        function show3D(mod) {
            console.log(mod);
            modContainer.setAttribute('src', mod);
            modContainer.setAttribute('visible', true);
        }

        function hideIllustr() {
            imContainer.setAttribute('visible', false);
            modContainer.setAttribute('visible', false);
        }

        function hideOverlay() {
            for (let i = 0; i < to_hide.length; i++) {
                to_hide[i].setAttribute('visible', false);
            }
        }

        function onNextExhibitButtonClick() {
            // TODO: change target!
            current_point_ind++;
            if (current_point_ind >= whole_root.length) {
                alert('End of route!');
                document.location.href = '/choose_exposition';
            }
            changeMarker();
            hideIllustr();
            getNavigation(whole_root[current_point_ind - 1], whole_root[current_point_ind]);
        }

        function changeMarker() {
            fetch("/get_marker_by_id/" + whole_root[current_point_ind].toString()).then(function (response) {
                return response.json();
            }).then(function (data) {
                imageTracker.setAttribute('zappar-image', 'target', data.toString());
                console.log('IMAGE TRACKER SHOULD BE CHANGED');
            }).catch(function () {
                console.log("Error");
            });
        }

        var canChangeExhibit = false;

        {#  Image tracking:  #}
        imageTracker.addEventListener("zappar-visible", () => {
            if (current_illustr === 'modContainer') {
                modContainer.setAttribute('visible', true);
                console.log('modContainer');
            } else if (current_illustr === 'imContainer') {
                imContainer.setAttribute('visible', true);
                console.log('imContainer');
            } else {
                hideIllustr();
            }
            if (canChangeExhibit) {
                onCloseNavigationButtonClick();
                getExposition(whole_root[current_point_ind]);
                canChangeExhibit = false;
            }
        });

        imageTracker.addEventListener("zappar-notvisible", () => {
            console.log("Image is no longer visible");
            canChangeExhibit = true;
            hideOverlay();
            hideIllustr();
        });

    </script>
{#    <script>#}
{#        // Gallery:#}
{#        var galleryVideoContainer = document.getElementById('galleryvideo');#}
{#        var galleryPhotoContainer = document.getElementById("galleryphoto");#}
{##}
{#        // Loading gallery photos:#}
{#        var gallery_photos = null;#}
{##}
{#        /*fetch("/get_gallery_photos").then(function (response) {#}
{#            return response.json();#}
{#        }).then(function (data) {#}
{#            console.log(data);#}
{#            gallery_photos = data;#}
            {#galleryPhotoContainer.setAttribute('material', 'src', 'url(' + gallery_photos[0] + ')');#}
{#        }).catch(function () {#}
{#            console.log("Error");#}
{#        });*/#}
{##}
{#        var current3 = 0;  // counter#}
{##}
{#        function OnNextGalleryButtonClick() {#}
{##}
{#            if (current3 < gallery_photos.length - 1) current3++; else current3 = 0;#}
{##}
            {#galleryPhoto.setAttribute("id", "galleryphoto" + current3.toString());#}
            {#galleryPhoto.setAttribute("visible", "true");#}
            {#galleryPhoto.setAttribute("material", "src: " + gallery_photos[current3] + "; transparent: true;");#}
{##}
{#            var gfs = gallery_photos[current3].split('.');#}
{#            if (gfs[gfs.length - 1] === 'mp4') {#}
{#                console.log('Video');#}
{#                galleryVideoContainer.setAttribute('material', 'src', gallery_photos[current3]);#}
{#                galleryVideoContainer.setAttribute('visible', true);#}
{#                galleryPhotoContainer.setAttribute('visible', false);#}
{#                var gvc = galleryVideoContainer.getAttribute('material').src;#}
{#                gvc.play();#}
{#            } else {#}
{#                console.log('Photo');#}
{#                galleryPhotoContainer.setAttribute('material', 'src', gallery_photos[current3]);#}
{#                galleryVideoContainer.setAttribute('visible', false);#}
{#                galleryPhotoContainer.setAttribute('visible', true);#}
{#            }#}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        /* global AFRAME */#}
{#        AFRAME.registerComponent('play-on-click', {#}
{#            init: function () {#}
{#                this.onClick = this.onClick.bind(this);#}
{#            },#}
{#            play: function () {#}
{#                window.addEventListener('click', this.onClick);#}
{#            },#}
{#            pause: function () {#}
{#                window.removeEventListener('click', this.onClick);#}
{#            },#}
{#            onClick: function (evt) {#}
{#                var videoEl = this.el.getAttribute('material').src;#}
{#                if (!videoEl) {#}
{#                    return;#}
{#                }#}
{#                this.el.object3D.visible = true;#}
{#                videoEl.play();#}
{#            }#}
{#        });#}
{#    </script>#}
{#    <script>#}
{#        /* global AFRAME */#}
{#        AFRAME.registerComponent('hide-on-play', {#}
{#            schema: {type: 'selector'},#}
{#            init: function () {#}
{#                this.onPlaying = this.onPlaying.bind(this);#}
{#                this.onPause = this.onPause.bind(this);#}
{#                this.el.object3D.visible = !this.data.playing;#}
{#            },#}
{#            play: function () {#}
{#                if (this.data) {#}
{#                    this.data.addEventListener('playing', this.onPlaying);#}
{#                    this.data.addEventListener('pause', this.onPause);#}
{#                }#}
{#            },#}
{#            pause: function () {#}
{#                if (this.data) {#}
{#                    this.data.removeEventListener('playing', this.onPlaying);#}
{#                    this.data.removeEventListener('pause', this.onPause);#}
{#                }#}
{#            },#}
{#            onPlaying: function (evt) {#}
{#                this.el.object3D.visible = false;#}
{#            },#}
{#            onPause: function (evt) {#}
{#                this.el.object3D.visible = true;#}
{#            }#}
{#        });#}
{#    </script>#}
{% endblock %}