<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
</head>
<body>
<h1>Статистика</h1>
<button type="button" class="btn btn-dark" onclick="process(1);"><a href="/zal">Посещение комнаты</a></button>
<button type="button" class="btn btn-dark" onclick="process(2);"><a href="/stars">Оценка экспонатов</a></button>
<button type="button" class="btn btn-dark" onclick="process(3);"><a href="/accaunt">Я персонал</a></button>

        <footer class="footer">
        <p>&copy; ARtist 2022</p>
      </footer>
    </div>
</body>
</html>
